# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane / misc
*.ipa
*.dSYM.zip
*.dSYM

# XcodeGen output
*.xcodeproj

# Tooling
.serena/
